In [165]:
import pandas as pd
import numpy as np

data_set = pd.read_csv('airbnb_lisbon_1480_2017-07-27.csv')
data_set.head()

data_set2 = data_set.apply(lambda x: x.astype(str).str.lower()) #this converts dataframe to lowercase
col_to_drop = ["country", "borough", "room_id", "survey_id", "host_id", "bathrooms", "minstay", "last_modified","latitude","longitude","location"]
my_data = data_set2.drop(col_to_drop, axis=1)
my_data[['reviews','overall_satisfaction','price']] = my_data[['reviews','overall_satisfaction','price']].astype('float')
#my_data.dtypes


#dropped_col_data = dropped_col_data[dropped_col_data.reviews !=0]
new_data = my_data[my_data["reviews"] != 0]

new_data.to_csv('cleaned_data.csv', index=False)

In [166]:
new_data.tail(10)

,room_type,city,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price,name
13567,private room,lisbon,avenidas novas,25.0,4.5,1,1.0,30.0,single room elegance
13568,private room,lisbon,avenidas novas,38.0,5.0,2,1.0,30.0,lisbonera guesthouse - bica room
13569,private room,lisbon,penha de frança,107.0,5.0,2,1.0,24.0,cozy double room near lisbon city centre & air...
13570,private room,lisbon,são vicente,37.0,4.5,2,1.0,25.0,lisbonintheskywithdiamonds*graça hill
13571,private room,lisbon,santa maria maior,40.0,4.5,2,1.0,18.0,luminous suite @city centre - baixa chiado
13572,private room,lisbon,avenidas novas,16.0,5.0,2,1.0,23.0,the simple room - central lisbon
13573,private room,lisbon,arroios,1.0,0.0,2,1.0,22.0,double bed room o05
13574,private room,lisbon,arroios,4.0,5.0,3,1.0,28.0,private room in comfortable home. great locati...
13576,private room,lisbon,penha de frança,7.0,4.5,1,1.0,12.0,private room in the quiet area for 1 person.
13577,private room,lisbon,arroios,12.0,4.5,2,1.0,28.0,"lisboa, saldanha - inlisbon sms - bordalo room"

In [167]:
new_data.shape

(11187, 9)

In [168]:
neig_bed = new_data[['neighborhood', 'bedrooms']]
neig_bed['Number of bedrooms in properties'] = '1'
neig_bed.head(10)

/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

         neighborhood bedrooms Number of bedrooms in properties
0       santo antónio      1.0                                1
1      avenidas novas      1.0                                1
2   santa maria maior      1.0                                1
3      avenidas novas      1.0                                1
12            arroios      1.0                                1
16   campo de ourique      1.0                                1
19             lumiar      1.0                                1
20  parque das nações      1.0                                1
21     avenidas novas      1.0                                1
22            areeiro      1.0                                1

In [169]:
#neig_bed.dtypes
neig_bed[['Number of bedrooms in properties', 'bedrooms']] = neig_bed[['Number of bedrooms in properties', 'bedrooms']].astype('float')
neig_bed.dtypes

neighborhood                         object
bedrooms                            float64
Number of bedrooms in properties    float64
dtype: object

In [170]:
# Number of bedrooms type per neighborhood
bedrooms = pd.pivot_table(neig_bed, index = ['neighborhood'], columns = ['bedrooms'], values = ['Number of bedrooms in properties'], aggfunc=np.sum)
bedrooms.head(25)

                        Number of bedrooms in properties                 \
bedrooms                                            0.0     1.0    2.0
neighborhood
ajuda                                                2.0    46.0   40.0
alcântara                                           12.0    95.0   44.0
alvalade                                             4.0   109.0   32.0
areeiro                                              2.0   166.0   26.0
arroios                                             65.0   816.0  260.0
avenidas novas                                       8.0   288.0   58.0
beato                                                5.0    56.0   13.0
belém                                                8.0   104.0   70.0
benfica                                              1.0    26.0   15.0
campo de ourique                                    22.0   139.0   70.0
campolide                                            5.0    48.0   22.0
carnide                                              1.0    10.0    9.0
estrela                                             52.0   394.0  175.0
lumiar                                               1.0    46.0   23.0
marvila                                              2.0    14.0   11.0
misericórdia                                       153.0  1048.0  619.0
olivais                                              3.0    56.0   12.0
parque das nações                                   15.0    74.0   65.0
penha de frança                                      6.0   194.0   78.0
santa clara                                          NaN    10.0    2.0
santa maria maior                                  223.0  1307.0  692.0
santo antónio                                       32.0   522.0  222.0
são domingos de benfica                              6.0    41.0   21.0
são vicente                                         58.0   488.0  267.0


bedrooms                  3.0   4.0   5.0   6.0  7.0  8.0  9.0  10.0
neighborhood
ajuda                      7.0   1.0   NaN   NaN  NaN  NaN  1.0  NaN
alcântara                 12.0   3.0   NaN   1.0  NaN  NaN  NaN  NaN
alvalade                  20.0   3.0   2.0   NaN  NaN  NaN  NaN  NaN
areeiro                   25.0   8.0   5.0   3.0  1.0  NaN  NaN  NaN
arroios                  137.0  55.0  24.0   8.0  4.0  2.0  1.0  3.0
avenidas novas            29.0  16.0   9.0   6.0  2.0  NaN  NaN  NaN
beato                      NaN   1.0   NaN   NaN  NaN  NaN  NaN  NaN
belém                     20.0   4.0   2.0   NaN  1.0  NaN  NaN  NaN
benfica                    3.0   NaN   NaN   NaN  NaN  NaN  NaN  NaN
campo de ourique          21.0   4.0   2.0   1.0  NaN  NaN  NaN  1.0
campolide                  6.0   1.0   NaN   NaN  NaN  1.0  NaN  NaN
carnide                    3.0   NaN   NaN   NaN  NaN  NaN  NaN  NaN
estrela                   47.0  16.0   7.0   2.0  1.0  NaN  1.0  1.0
lumiar                     8.0   NaN   2.0   NaN  NaN  NaN  NaN  NaN
marvila                    5.0   1.0   NaN   NaN  NaN  NaN  NaN  NaN
misericórdia             228.0  58.0  24.0   6.0  7.0  NaN  1.0  2.0
olivais                    8.0   NaN   NaN   NaN  NaN  NaN  NaN  NaN
parque das nações         27.0   4.0   NaN   NaN  NaN  NaN  NaN  NaN
penha de frança           26.0   5.0   3.0   NaN  NaN  NaN  NaN  NaN
santa clara                NaN   NaN   NaN   NaN  NaN  NaN  NaN  NaN
santa maria maior        257.0  49.0  14.0   1.0  NaN  NaN  NaN  1.0
santo antónio            106.0  38.0   8.0   9.0  5.0  1.0  NaN  NaN
são domingos de benfica    8.0   3.0   2.0   NaN  NaN  1.0  NaN  NaN
são vicente               81.0  10.0   1.0  12.0  NaN  NaN  2.0  NaN

In [171]:
bedrooms1 = bedrooms.fillna(0)
bedrooms1.head(25)

                        Number of bedrooms in properties                 \
bedrooms                                            0.0     1.0    2.0
neighborhood
ajuda                                                2.0    46.0   40.0
alcântara                                           12.0    95.0   44.0
alvalade                                             4.0   109.0   32.0
areeiro                                              2.0   166.0   26.0
arroios                                             65.0   816.0  260.0
avenidas novas                                       8.0   288.0   58.0
beato                                                5.0    56.0   13.0
belém                                                8.0   104.0   70.0
benfica                                              1.0    26.0   15.0
campo de ourique                                    22.0   139.0   70.0
campolide                                            5.0    48.0   22.0
carnide                                              1.0    10.0    9.0
estrela                                             52.0   394.0  175.0
lumiar                                               1.0    46.0   23.0
marvila                                              2.0    14.0   11.0
misericórdia                                       153.0  1048.0  619.0
olivais                                              3.0    56.0   12.0
parque das nações                                   15.0    74.0   65.0
penha de frança                                      6.0   194.0   78.0
santa clara                                          0.0    10.0    2.0
santa maria maior                                  223.0  1307.0  692.0
santo antónio                                       32.0   522.0  222.0
são domingos de benfica                              6.0    41.0   21.0
são vicente                                         58.0   488.0  267.0


bedrooms                  3.0   4.0   5.0   6.0  7.0  8.0  9.0  10.0
neighborhood
ajuda                      7.0   1.0   0.0   0.0  0.0  0.0  1.0  0.0
alcântara                 12.0   3.0   0.0   1.0  0.0  0.0  0.0  0.0
alvalade                  20.0   3.0   2.0   0.0  0.0  0.0  0.0  0.0
areeiro                   25.0   8.0   5.0   3.0  1.0  0.0  0.0  0.0
arroios                  137.0  55.0  24.0   8.0  4.0  2.0  1.0  3.0
avenidas novas            29.0  16.0   9.0   6.0  2.0  0.0  0.0  0.0
beato                      0.0   1.0   0.0   0.0  0.0  0.0  0.0  0.0
belém                     20.0   4.0   2.0   0.0  1.0  0.0  0.0  0.0
benfica                    3.0   0.0   0.0   0.0  0.0  0.0  0.0  0.0
campo de ourique          21.0   4.0   2.0   1.0  0.0  0.0  0.0  1.0
campolide                  6.0   1.0   0.0   0.0  0.0  1.0  0.0  0.0
carnide                    3.0   0.0   0.0   0.0  0.0  0.0  0.0  0.0
estrela                   47.0  16.0   7.0   2.0  1.0  0.0  1.0  1.0
lumiar                     8.0   0.0   2.0   0.0  0.0  0.0  0.0  0.0
marvila                    5.0   1.0   0.0   0.0  0.0  0.0  0.0  0.0
misericórdia             228.0  58.0  24.0   6.0  7.0  0.0  1.0  2.0
olivais                    8.0   0.0   0.0   0.0  0.0  0.0  0.0  0.0
parque das nações         27.0   4.0   0.0   0.0  0.0  0.0  0.0  0.0
penha de frança           26.0   5.0   3.0   0.0  0.0  0.0  0.0  0.0
santa clara                0.0   0.0   0.0   0.0  0.0  0.0  0.0  0.0
santa maria maior        257.0  49.0  14.0   1.0  0.0  0.0  0.0  1.0
santo antónio            106.0  38.0   8.0   9.0  5.0  1.0  0.0  0.0
são domingos de benfica    8.0   3.0   2.0   0.0  0.0  1.0  0.0  0.0
são vicente               81.0  10.0   1.0  12.0  0.0  0.0  2.0  0.0

In [172]:
bedrooms1['Total'] = bedrooms1.sum(axis=1)

In [175]:
bedrooms2 = bedrooms1.sort_values(['Total'], ascending=False)
bedrooms2.head()

                  Number of bedrooms in properties                        \
bedrooms                                       0.0     1.0    2.0    3.0
neighborhood
santa maria maior                            223.0  1307.0  692.0  257.0
misericórdia                                 153.0  1048.0  619.0  228.0
arroios                                       65.0   816.0  260.0  137.0
santo antónio                                 32.0   522.0  222.0  106.0
são vicente                                   58.0   488.0  267.0   81.0

                                                          Total
bedrooms            4.0   5.0   6.0  7.0  8.0  9.0 10.0
neighborhood
santa maria maior  49.0  14.0   1.0  0.0  0.0  0.0  1.0  2544.0
misericórdia       58.0  24.0   6.0  7.0  0.0  1.0  2.0  2146.0
arroios            55.0  24.0   8.0  4.0  2.0  1.0  3.0  1375.0
santo antónio      38.0   8.0   9.0  5.0  1.0  0.0  0.0   943.0
são vicente        10.0   1.0  12.0  0.0  0.0  2.0  0.0   919.0

In [184]:
bedrooms2.columns = ['0','1','2','3','4','5','6','7','8','9','10', 'Total']
bedrooms2.head()

,0,1,2,3,4,5,6,7,8,9,10,Total
neighborhood,,,,,,,,,,,,
santa maria maior,223.0,1307.0,692.0,257.0,49.0,14.0,1.0,0.0,0.0,0.0,1.0,2544.0
misericórdia,153.0,1048.0,619.0,228.0,58.0,24.0,6.0,7.0,0.0,1.0,2.0,2146.0
arroios,65.0,816.0,260.0,137.0,55.0,24.0,8.0,4.0,2.0,1.0,3.0,1375.0
santo antónio,32.0,522.0,222.0,106.0,38.0,8.0,9.0,5.0,1.0,0.0,0.0,943.0
são vicente,58.0,488.0,267.0,81.0,10.0,1.0,12.0,0.0,0.0,2.0,0.0,919.0

In [192]:
bedrooms2['5+'] = bedrooms2['5'] + bedrooms2['6'] + bedrooms2['7'] + bedrooms2['8'] + bedrooms2['9'] + bedrooms2['10']

In [193]:
bedrooms2.head()

,0,1,2,3,4,5,6,7,8,9,10,Total,5+
neighborhood,,,,,,,,,,,,,
santa maria maior,223.0,1307.0,692.0,257.0,49.0,14.0,1.0,0.0,0.0,0.0,1.0,2544.0,16.0
misericórdia,153.0,1048.0,619.0,228.0,58.0,24.0,6.0,7.0,0.0,1.0,2.0,2146.0,40.0
arroios,65.0,816.0,260.0,137.0,55.0,24.0,8.0,4.0,2.0,1.0,3.0,1375.0,42.0
santo antónio,32.0,522.0,222.0,106.0,38.0,8.0,9.0,5.0,1.0,0.0,0.0,943.0,23.0
são vicente,58.0,488.0,267.0,81.0,10.0,1.0,12.0,0.0,0.0,2.0,0.0,919.0,15.0

In [197]:
drop_list = ['5','6','7','8','9','10']
bedrooms3 = bedrooms2.drop(drop_list, axis=1)
bedrooms3.head()

                       0       1      2      3     4   Total    5+
neighborhood
santa maria maior  223.0  1307.0  692.0  257.0  49.0  2544.0  16.0
misericórdia       153.0  1048.0  619.0  228.0  58.0  2146.0  40.0
arroios             65.0   816.0  260.0  137.0  55.0  1375.0  42.0
santo antónio       32.0   522.0  222.0  106.0  38.0   943.0  23.0
são vicente         58.0   488.0  267.0   81.0  10.0   919.0  15.0

In [204]:
bedrooms4 = bedrooms3[['0','1','2','3','4','5+','Total']]
bedrooms4.head(10)

                       0       1      2      3     4    5+   Total
neighborhood
santa maria maior  223.0  1307.0  692.0  257.0  49.0  16.0  2544.0
misericórdia       153.0  1048.0  619.0  228.0  58.0  40.0  2146.0
arroios             65.0   816.0  260.0  137.0  55.0  42.0  1375.0
santo antónio       32.0   522.0  222.0  106.0  38.0  23.0   943.0
são vicente         58.0   488.0  267.0   81.0  10.0  15.0   919.0
estrela             52.0   394.0  175.0   47.0  16.0  12.0   696.0
avenidas novas       8.0   288.0   58.0   29.0  16.0  17.0   416.0
penha de frança      6.0   194.0   78.0   26.0   5.0   3.0   312.0
campo de ourique    22.0   139.0   70.0   21.0   4.0   4.0   260.0
areeiro              2.0   166.0   26.0   25.0   8.0   9.0   236.0

In [203]:
bedrooms5 = bedrooms4.sort_values(['Total'], ascending=True)
bedrooms5.head()

                0     1     2    3    4   5+  Total
neighborhood
santa clara   0.0  10.0   2.0  0.0  0.0  0.0   12.0
carnide       1.0  10.0   9.0  3.0  0.0  0.0   23.0
marvila       2.0  14.0  11.0  5.0  1.0  0.0   33.0
benfica       1.0  26.0  15.0  3.0  0.0  0.0   45.0
beato         5.0  56.0  13.0  0.0  1.0  0.0   75.0